.Search {
    margin: 1vh 1vw;
    padding: 1vh 2vw;
}

.dropbtn {
    width: 100%;
    background-color: transparent;
    padding: 1vh 2vw;
    color: white;
    border: none;
    border: solid white 1px;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdownContent a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdownContent {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    /* background-color: #0a0814; */
  }

