body {
  padding-top:0; 
  margin: 0;
  font-family: 'Chalkduster', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn { 
  width: 100%;
  padding: 1vh 1vw;
  margin: 1vh 0;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  background-color: rgb(219, 158, 43);
  cursor: pointer;
}

.btn:hover          {background-color: rgb(192, 137, 35) ;}

.auth-btn           { background-color: #6623d3;}
.auth-btn:hover     { background-color: #5b1fbd;}

.btn-primary        { background-color: #357ebd;}
.btn-primary:hover  { background-color: #2e6ca1;}

.btn-info           { background-color: #5bc0de;}
.btn-info:hover     { background-color: #4da1bb;}

.btn-danger         { background-color: #d9534f;}
.btn-danger:hover   { background-color: #b94743;}

a ::selection       { color: white !important; }
a :active           { color: white !important; }

input               { color: black !important; }

.spread {
  display: flex;
  justify-content: space-between;
}

.text-center        { text-align: center; }