.Container {
    padding: 50px 0;
    background-color: rgba(10, 5, 56, 0.753);
    height: 100%;
}

@media (min-width: 500px) {
    .Container {
        padding: 50px 0;
        margin: 5px 0;
        height: 80vh;
        min-width: 500px;
    }
}