/* For mobile phones: */
.Container { 
    height: 100vh;
}

.Jumbotron {
    min-height: 80vh;
    margin: 6vh 1vw 0;
    padding: 10vh 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: rgba(92, 91, 91, 0.726);
    text-align: center;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .Jumbotron {
        margin: 6vh 5vw 0;
    }
}

@media only screen and (min-width: 1025px) {
    /* For desktop: */
    .Jumbotron {
        margin: 6vh 20vw 0;
    }
}