.Modal {
    position: fixed;
    z-index: 500;
    background-color: #141311;
    border: 1px solid rgb(27, 16, 6);
    padding: 2vh 5vw 5vh;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        left: calc(50% - 250px);
    }
}