.Navbar {
    height: 6vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(85, 22, 185);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Navbar a {
    height: 100%;
}

.Navbar nav {
    height: 100%;
}


.Navbar .Mobile {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
}

.Mobile a {
    height: 80%;
    padding: 0 0 0 2vw;
}

.Navbar h1 {
    margin: 0;
}


a:hover {
    color: white;
}
@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}