.Navbar {
    height: 6vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(85, 22, 185);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    box-sizing: border-box;
    z-index: 90;
    color: white;
    white-space: nowrap;
}

.Navbar a {
    height: 100%;
}

.Navbar nav {
    height: 100%;
}


.Navbar .Mobile {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
}

.Mobile a {
    height: 80%;
    padding: 0 0 0 2vw;
}

.Navbar h1 {
    margin: 0;
}


a:hover {
    color: white;
}

.DesktopOnly {
    display: none;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .DesktopOnly {
        display: inherit;
    }
    .Navbar .MobileLinks, .Navbar .Logo {
        display: none;
    }

    .Navbar {
        justify-content: center;
    }
}

@media only screen and (min-width: 1025px) {
    /* For desktop: */
    .DesktopOnly {
        display: inherit;
    }
    .Navbar .MobileLinks, .Navbar .Logo {
        display: none;
    }
    .Navbar {
        justify-content: center;
    }

    a {
        padding: 0;
        
    }
}