.Auth {
    text-align: center;
    align-items: center;
    padding: 20px 5vw;
    color: rgb(255, 255, 255);   
}
.Auth a { 
    width: 100%;
    margin: 2vh 0;
    display: block;
}   

.AuthInput {
    color: rgb(255, 255, 255);   
    width: 100%;
    height: 34px;
    margin: 2vh 0;

    background-color: transparent;
    border: none;
    border-bottom-color:rgb(23, 4, 53);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.AuthBtn {
    color: rgb(255, 255, 255);   
    width: 100%;
    height: 45px;
    background-color: rgb(26, 8, 47);
}

.AuthToggle {
    border: none;
    padding: 0 0 2vh;
    width: 50%;
    background-color: transparent;
    color: rgb(23, 4, 53);
    color: rgb(255, 255, 255);   
    font-weight: bold;
    white-space: nowrap; 
}

.AuthSelected {
    border-bottom-color:rgb(23, 4, 53);
    border-bottom-color: rgb(255, 255, 255);   
    color: rgb(255, 255, 255);   
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

button:focus {outline:0;}
input:focus {outline:0;}
input::placeholder{
    color: rgb(255, 255, 255);   
  }