.Item {
    margin: 2vh 2vw;
    text-align: center;
    align-items: center;
}

.Item.ShopItem {
    width: 50%;
}

.Item.DetailsItem {
    width: 100%;
}

.Item .CardImage .CardTitle{
    color: black;
    font-weight: 400
}

.MaterialIcons {
/*    font-size: 2.4em; */
    cursor: pointer;
}

.ItemDesc{
    align-self:center;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */

}

@media only screen and (min-width: 1025px) {
    /* For desktop: */

}